.body {
    flex: 0.8;
    background: linear-gradient(#525252, rgba(0, 0, 0, 1));
    height: 100vh;
    color: white;
    padding: 30px;
    overflow-y: overlay;
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__info > img {
    height: 20vw;
    border-radius: 10px;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}

.body__info__text {
    display: 1;
}

.body__info__text > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body__info__text > p {
    font-size: 14px;
}

.a {
    color: white;
    display: flex;
}

.u {
    font-size: 14px;
    font-weight: bold;
    display: flex;
}

.p {
    padding-left: 10px;
}

.new {
    display: flex;
}

.body__song {
    z-index: 1;
    margin: 20px -30px;
}

.body__icon {
    display: flex;
    align-items: center;
}

.body__icon > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1DB954;
}

.body__shuffle:hover {
    transition: transform ease-in;
    transform: scale(1.08);
}

.main::-webkit-scrollbar {
    display: none;
}  