.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}

/* For the left serach bar component */
.header__left {
    flex: 0.5;
    min-width: 70px;
    background-color: white;
    border: black soild 2px;
    border-radius: 30px;
    color: grey;
    padding: 10px;
    display: flex;
    align-items: center;
    
}

.header__left > input {
    border: none;
    width: 100%;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right > h4 {
    margin-left: 10px;
}